/* *{
  padding: 10px;
} */
body {
  background: #f9e933;
  width: 855px;
  margin: auto;
  font-size: 100%;
}
header,
main,
footer {
  min-width: 855px;
  padding: 10px;
}
header .container,
main .container,
footer .container {
  width: 855px;
  margin: auto;
}
header {
  background: white;
}
main {
  background: white;
}
main img {
  width: 100px;
}

header {
  background: white;
  overflow: hidden;
}
header h1,
h2,
p,
h3 {
  float: left;
  width: 570px;
}
header nav,
header img {
  float: right;
  width: 285px;
} 
h1,h2,h3,h4{
  font-family: 'Ubuntu', sans-serif;
}
a{
  color: red;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}